In [1]:
import pandas as pd

## Read Dataset

In [2]:
customers_data = pd.read_csv(r'dataset/master/Customers.csv',encoding='cp1252')
exchange_rates_data = pd.read_csv(r'dataset/master/Exchange_Rates.csv',encoding='cp1252')
products_data = pd.read_csv(r'dataset/master/Products.csv',encoding='cp1252')
sales_data = pd.read_csv(r'dataset/master/Sales.csv',encoding='cp1252')
stores_data = pd.read_csv(r'dataset/master/Stores.csv',encoding='cp1252')

## Cleaning Dataset

### Customers Data

In [3]:
customers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [4]:
customers_data.isnull().any() # State Code

CustomerKey    False
Gender         False
Name           False
City           False
State Code      True
State          False
Zip Code       False
Country        False
Continent      False
Birthday       False
dtype: bool

In [5]:
customers_df = customers_data.copy()

In [6]:
customers_df = customers_df.astype({'CustomerKey':'str','Birthday':'datetime64[ns]'})

In [7]:
customers_df[customers_df.isnull().values] # Napoli is a city in Naples(NA),Italy

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
5304,729681,Female,Rossana Padovesi,Polvica,NaN,Napoli,80035,Italy,Europe,1981-04-18
5316,732289,Male,Indro Piccio,Varcaturo,NaN,Napoli,80014,Italy,Europe,1949-02-24
5372,742042,Male,Amaranto Loggia,Casaferro,NaN,Napoli,80034,Italy,Europe,1936-03-14
5377,742886,Female,Edmonda Capon,Terzigno,NaN,Napoli,80040,Italy,Europe,1963-08-06
5378,743343,Female,Ambra Sagese,Pomigliano D'Arco,NaN,Napoli,80038,Italy,Europe,1961-01-05
5485,759705,Male,Callisto Lo Duca,Casilli,NaN,Napoli,80047,Italy,Europe,1976-08-28
5525,765589,Male,Michelino Lucchesi,Pompei Scavi,NaN,Napoli,80045,Italy,Europe,1947-11-13
5531,766410,Male,Adelmio Beneventi,Licola,NaN,Napoli,80078,Italy,Europe,1940-01-13
5631,781667,Female,Ilda Manna,Napoli,NaN,Napoli,80134,Italy,Europe,1977-05-08
5695,789177,Male,Calogero Folliero,Mariglianella,NaN,Napoli,80030,Italy,Europe,2000-03-03

In [8]:
customers_df.loc[customers_df['State']=='Napoli', ['State Code','State']] = ['NA','Naples']

In [9]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  object
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 1.2+ MB

### Exchange Rates Data

In [10]:
exchange_rates_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [11]:
exchange_rates_data.isnull().any() # No NA

Date        False
Currency    False
Exchange    False
dtype: bool

In [12]:
exchange_rates_df = exchange_rates_data.copy()

In [13]:
exchange_rates_df = exchange_rates_df.astype({'Date':'datetime64[ns]'})

### Products Data

In [14]:
products_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [15]:
products_data.isnull().any() # No NA

ProductKey        False
Product Name      False
Brand             False
Color             False
Unit Cost USD     False
Unit Price USD    False
SubcategoryKey    False
Subcategory       False
CategoryKey       False
Category          False
dtype: bool

In [16]:
products_df = products_data.copy()

In [17]:
products_df['Unit Cost USD'] = (
    products_df['Unit Cost USD']
    .str.replace("$", "")
    .str.replace(",", "")
    .str.strip()
    .astype(float)
)

In [18]:
products_df['Unit Price USD'] = (
    products_df['Unit Price USD']
    .str.replace("$", "")
    .str.replace(",", "")
    .str.strip()
    .astype(float)
)

In [19]:
products_df = products_df.astype({'ProductKey':'str',})

### Sales Data

In [20]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [21]:
sales_data.isnull().any() # Delivery Date has 80% N/A values so, not considering it.

Order Number     False
Line Item        False
Order Date       False
Delivery Date     True
CustomerKey      False
StoreKey         False
ProductKey       False
Quantity         False
Currency Code    False
dtype: bool

In [22]:
sales_df = sales_data.copy()

In [23]:
sales_df = sales_df.astype({'Order Number':'str',
                            'Order Date':'datetime64[ns]',
                            'Delivery Date':'datetime64[ns]',
                            'StoreKey':'str',
                            'ProductKey':'str',
                            'CustomerKey':'str'})

In [24]:
# sales_df = sales_df.drop('Delivery Date', axis=1)

### Store Data

In [25]:
stores_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [26]:
stores_data.isnull().any()

StoreKey         False
Country          False
State            False
Square Meters     True
Open Date        False
dtype: bool

In [27]:
stores_df = stores_data.copy()

In [28]:
stores_df = stores_df.astype({'StoreKey':'str','Open Date':'datetime64[ns]'})

In [29]:
stores_df[stores_df.isnull().values]

   StoreKey Country   State  Square Meters  Open Date
66        0  Online  Online            NaN 2010-01-01

In [30]:
stores_df.loc[stores_df['State']=='Online', 'Square Meters'] = 0

### Check

In [31]:
datasets = [customers_df, exchange_rates_df, products_df, sales_df, stores_df]
for df in datasets:
    col_has_na = df.isnull().any()
    if True in col_has_na.values:
        print(col_has_na[col_has_na.values])

Delivery Date    True
dtype: bool

## Joining Dataset

In [32]:
# sales_df will be our primary df

In [33]:
print(customers_df.CustomerKey.is_unique)
print(products_df.ProductKey.is_unique)
print(sales_df['Order Number'].is_unique)
print(stores_df.StoreKey.is_unique)

True
True
False
True

In [34]:
len(sales_df['Order Number'].unique())

26326

In [35]:
master_df = sales_df.merge(products_df,on='ProductKey',how='left')
master_df = master_df.merge(stores_df,on='StoreKey',how='left')
master_df = master_df.merge(customers_df,on='CustomerKey',how='left',suffixes=['_Store','_Customer'])

In [36]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Number      62884 non-null  object
 1   Line Item         62884 non-null  int64
 2   Order Date        62884 non-null  datetime64[ns]
 3   Delivery Date     13165 non-null  datetime64[ns]
 4   CustomerKey       62884 non-null  object
 5   StoreKey          62884 non-null  object
 6   ProductKey        62884 non-null  object
 7   Quantity          62884 non-null  int64
 8   Currency Code     62884 non-null  object
 9   Product Name      62884 non-null  object
 10  Brand             62884 non-null  object
 11  Color             62884 non-null  object
 12  Unit Cost USD     62884 non-null  float64
 13  Unit Price USD    62884 non-null  float64
 14  SubcategoryKey    62884 non-null  int64
 15  Subcategory       62884 non-null  object
 16  CategoryKey       62884 non-null  int64
 17  Category          62884 non-null  object
 18  Country_Store     62884 non-null  object
 19  State_Store       62884 non-null  object
 20  Square Meters     62884 non-null  float64
 21  Open Date         62884 non-null  datetime64[ns]
 22  Gender            62884 non-null  object
 23  Name              62884 non-null  object
 24  City              62884 non-null  object
 25  State Code        62884 non-null  object
 26  State_Customer    62884 non-null  object
 27  Zip Code          62884 non-null  object
 28  Country_Customer  62884 non-null  object
 29  Continent         62884 non-null  object
 30  Birthday          62884 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(3), int64(4), object(20)
memory usage: 14.9+ MB

## EDA

### Finding Age as on Order Date

In [37]:
master_df['Age'] = master_df['Order Date'] - master_df['Birthday']

In [38]:
master_df['Age'] = master_df['Age'].dt.components.days/365.25

In [39]:
master_df['Age'] = master_df['Age'].astype(int)

### Days taken to Delivery (Online Only)

In [40]:
master_df['Days_Taken'] = master_df['Delivery Date'] - master_df['Order Date']

In [41]:
master_df.Days_Taken = master_df.Days_Taken.dt.components.days.fillna(0)

In [42]:
master_df['Delivery Date'] = master_df['Order Date'] + pd.to_timedelta(master_df.Days_Taken,unit="days")

### Total Cost & Price

In [43]:
master_df['Total Cost USD'] = master_df['Unit Cost USD'] * master_df['Quantity']

In [44]:
master_df['Total Price USD'] = master_df['Unit Price USD'] * master_df['Quantity']

In [45]:
# Age Bin
len(master_df[(master_df.Age>=20)&(master_df.Age<30)].CustomerKey.unique())

2010

In [46]:
# Avg Order
len(master_df['Order Number'].unique())/len(master_df.CustomerKey.unique())

2.214688314965929

In [47]:
# Online sales
master_df[master_df['StoreKey']=='0']['Total Price USD'].sum()

11404324.629999999

In [48]:
# Avg Store Area
master_df.groupby(['StoreKey'])['Square Meters'].max().mean()

1375.6896551724137

In [49]:
# Avg Customer Age
master_df.groupby(['CustomerKey'])['Age'].mean().mean()

49.591116033852906

In [50]:
master_df['StoreKey']

0        10
1         0
2         0
3         0
4         0
         ..
62879    43
62880     0
62881     0
62882     0
62883     0
Name: StoreKey, Length: 62884, dtype: object

## Store in SQL

In [ ]:
import mysql.connector

In [ ]:
mysql_server  = 'localhost'
mysql_user = 'root'
mysql_password = '1234567890'
mysql_database = 'dataspark_database'

connection = mysql.connector.connect(
    host= mysql_server,
    user= mysql_user,
    password= mysql_password
)

In [ ]:
connection.database = 'dataspark_database'

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute('DROP TABLE GE_Data;')

In [ ]:
create_query = '''CREATE TABLE IF NOT EXISTS GE_Data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    OrderNumber VARCHAR(255) NOT NULL,
    LineItem INT NOT NULL,
    OrderDate DATE NOT NULL,
    DeliveryDate DATE NOT NULL,
    CustomerKey VARCHAR(255) NOT NULL,
    StoreKey VARCHAR(255) NOT NULL,
    ProductKey VARCHAR(255) NOT NULL,
    Quantity INT NOT NULL,
    CurrencyCode VARCHAR(10) NOT NULL,
    ProductName VARCHAR(255) NOT NULL,
    Brand VARCHAR(255) NOT NULL,
    Color VARCHAR(50) NOT NULL,
    UnitCostUSD DECIMAL(10, 2) NOT NULL,
    UnitPriceUSD DECIMAL(10, 2) NOT NULL,
    SubcategoryKey INT NOT NULL,
    Subcategory VARCHAR(255) NOT NULL,
    CategoryKey INT NOT NULL,
    Category VARCHAR(255) NOT NULL,
    Country_Store VARCHAR(255) NOT NULL,
    State_Store VARCHAR(255) NOT NULL,
    SquareMeters DECIMAL(10, 2) NOT NULL,
    OpenDate DATE NOT NULL,
    Gender VARCHAR(10) NOT NULL,
    Name VARCHAR(255) NOT NULL,
    City VARCHAR(255) NOT NULL,
    StateCode VARCHAR(50) NOT NULL,
    State_Customer VARCHAR(255) NOT NULL,
    ZipCode VARCHAR(20) NOT NULL,
    Country_Customer VARCHAR(255) NOT NULL,
    Continent VARCHAR(50) NOT NULL,
    Birthday DATE NOT NULL,
    Age INT NOT NULL,
    Days_Taken INT,
    TotalCostUSD DECIMAL(10, 2) NOT NULL,
    TotalPriceUSD DECIMAL(10, 2) NOT NULL
);'''

In [ ]:
cursor.execute(create_query)

In [ ]:
INSERT_QUERY = """
INSERT INTO GE_Data (
    OrderNumber, LineItem, OrderDate, DeliveryDate, CustomerKey, StoreKey, ProductKey, Quantity, 
    CurrencyCode, ProductName, Brand, Color, UnitCostUSD, UnitPriceUSD, SubcategoryKey, Subcategory, 
    CategoryKey, Category, Country_Store, State_Store, SquareMeters, OpenDate, Gender, Name, City, 
    StateCode, State_Customer, ZipCode, Country_Customer, Continent, Birthday, Age, Days_Taken,
    TotalCostUSD, TotalPriceUSD
) VALUES (
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
)
"""

In [ ]:
for i, row in master_df.iterrows():
    cursor.execute(INSERT_QUERY, tuple(row))

In [ ]:
connection.commit()

In [ ]:
connection.close()